<ion-header>
  <ion-navbar>
    <ion-title> Single-Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="file">

    <pinch-zoom *ngIf="file.media_type==='image'">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
      <img class="singleItemImg" [src]="uploadUrl + file.filename">
    </pinch-zoom>

    <video *ngIf="file.media_type==='video'" width="320" height="240" controls>
      <source [src]="uploadUrl + file.filename" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <audio controls *ngIf="file.media_type==='audio'">
      <source [src]="uploadUrl + file.filename" type="audio/ogg">
      Your browser does not support the audio tag.
    </audio>

    <ion-card-title text-center>{{file.title}}</ion-card-title>
    <ion-list>
    <ion-item>
          <span class="field"><ion-icon name="person"></ion-icon> </span><span class="content">{{username}}</span>
    </ion-item>

      <ion-item>
        <span class="field"><ion-icon name="pin"></ion-icon> </span><span class="content">Matinkyla 4 Espoo</span>
      </ion-item>

      <ion-item>
      <ion-row>
        <ion-col><span class="field"><ion-icon name="calendar"></ion-icon></span> <span class="content">{{file.time_added | date: ('dd.MM.yy')}}</span></ion-col>
        <ion-col class="price"><span class="content">2000</span><span class="field"><ion-icon name="logo-euro"></ion-icon></span></ion-col>
      </ion-row>
      </ion-item>
      <ion-item class="contact">
        <span class="field"><ion-icon name="phone-portrait"></ion-icon></span><span class="content">5647890654321</span>
      </ion-item>

        <p *ngIf="file.description !==null"><span class="field">Description:</span> {{file.description}}</p>
    </ion-list>

  </ion-card>
</ion-content>
