page-single-item {

  .field{
    color: color($colors, primary) !important;
    padding-right: 10px;
    font-weight: bold;
  }

  .content{
    font-weight: normal;
    color: black;
  }

  .contact{
    .field{
      color: #32db64 !important;
      font-size: large;
    }
    .content{
      color: white;
      background-color: #488aff;
      padding: 10px !important;
      border-radius: 10px;
      font-size: large;
    }
  }

  .price{
    .content{
      color: #f14100 !important;
      font-weight: bold !important;
      font-size: x-large !important;
    }
    .field{
      color: #222222 !important;
      font-weight: normal !important;
      font-size: small !important;
      padding-left: 5px;
    }
  }

  ion-card{
    padding: 15px;
  }

  ion-slide {
    text-align: center;
  }

  .singleItemImg {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
  }


  ion-card-title{
    font-weight: bold !important;
  }

}
