page-profile {
  ion-card{
    padding-top: 10px;
  }

  .field{
    color: #222222;
    font-weight: bold;
    font-size: medium;
    margin-right: 15px;
  }

  .content{
    color: #2935d7;
    font-weight: bold;
  }

}
