$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #d0d0d0,
  dark: #222,
  base: #55acee,
  contrast: #ffffff
);

ion-content {
  justify-content: center;
  text-align: center;
  background-color: #ebebeb !important;
}

.logoImg {
  height: 30px;
  width: auto;
  position: fixed;
  left: 15px;
}

button {
  width: 200px;
}


ion-label {
  color: color($colors, primary);
  font-size: large !important;
}


@media (min-width: 1025px) {

  ion-content {
    ion-list{
      width: 80%;
      padding-left: 20%;
      ion-item{
        ion-thumbnail {
          img {
            width: 200px !important;
            height: 200px !important;
          }
        }
      }
    }

    /* width */
    ::-webkit-scrollbar {
      width: 12px;

    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #ebebeb;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #b9b9b9;
    }

  }
}


@media (max-width: 600px) {
  .header-nav {
    visibility: hidden;
  }
}

@media (max-width: 350px) {
  .header-nav {
    visibility: hidden;
  }

  ion-header {
    ion-title {
      visibility: hidden;
    }
  }
}
