<ion-header>
  <ion-navbar>
    <ion-title><img class="logoImg" src="../../assets/imgs/logo.png"> Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="showSearchForm" (ngSubmit)="search()" name="searchForm" #searchForm="ngForm" id="searchForm">

    <ion-title text-center style="color: #488aff; font-size: large; font-weight: bolder">Search Options</ion-title>

    <div class="form-group">
    <ion-row>
      <ion-item>
        <ion-label style="color: blue; font-size: large">Keyword</ion-label>
        <ion-input placeholder="Keyword is required"
                   type="text"
                   name="searchTerm"
                   id="searchTerm"
                   #keyword="ngModel"
                   [(ngModel)]="searchTerm">
        </ion-input>
      </ion-item>
    </ion-row>
    </div>

    <ion-row>
      <ion-item>
        <ion-label style="color: blue; font-size: large">Price</ion-label>
        <ion-select [(ngModel)]="priceOrder" name="priceOrder">
          <ion-option value="ascend">ascending</ion-option>
          <ion-option value="descend">descending</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label style="color: blue; font-size: large">Location</ion-label>
        <ion-input type="text"
                   placeholder="Enter a location"
                   name="location"
                   id="location"
                   [(ngModel)]="location">
        </ion-input>
      </ion-item>

    </ion-row>
    <div text-center>
      <button ion-button
              class="submit-btn"
              round
              type="submit"
              color="secondary"
              [disabled]="!searchForm.form.valid">Search
      </button>
    </div>

    <div text-center>
      <button ion-button
              round
              type="button"
              color="danger"
              (click)="cancelSearch()">Cancel
      </button>
    </div>
  </form>

  <ion-list *ngIf="!showSearchForm">

    <ion-item *ngFor="let item of itemsArray">
      <ion-thumbnail item-start="">
        <img [src]= "uploadUrl + item.otherMedia[0].thumbnail" [alt]="item.title" >
      </ion-thumbnail>

      <h2>{{item.title}}</h2>
      <p>{{item.time_added | date: ('dd.MM.yy')}}</p>
      <p>{{item.descriptors.description}}</p>

      <button ion-button round  (click)="viewSingleMedia(item.item_id)">View</button>

    </ion-item>

  </ion-list>

</ion-content>
