<ion-header>
  <ion-navbar>
    <ion-title> <img class="logoImg" src="../../assets/imgs/logo.png"> Upload</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #uploadForm="ngForm" (ngSubmit)="uploadMedia()">


    <ion-row *ngFor="let file of files; let i = index" justify-content-center>

      <ion-input type="file"
                 text-center
                 accept="image/*, video/*, audio/*"
                 (change)="handleChange($event, i)"
      ></ion-input>
      <button type="button"
              id="cameraButton"
              *ngIf="platform.is('cordova')"
              ion-button
              round
              large
              (click)="useCamera(i)">Use Camera
      </button>
    </ion-row>

    <button ion-button
            type="button"
            id="moreFilesButton"
            round
            color="secondary"
            (click)="addMoreFiles()">More files
    </button>


    <div text-center>
    <div class="form-group">
      <ion-label stacked>Title</ion-label>
      <ion-input
        text-center
        type="text"
        placeholder="Enter a title"
        [(ngModel)]="title"
        name="title"
        required
        #fileTitle="ngModel"
        maxlength="20"
        minlength="3">
      </ion-input>
      <div class="form-control-feedback" *ngIf="fileTitle.errors && (fileTitle.dirty || fileTitle.touched)">
        <p *ngIf="fileTitle.errors">Title needs to be 3 - 50 characters long</p>
      </div>
    </div>

    <div text-center>
      <div class="form-group">
        <ion-label stacked>Category</ion-label>
        <ion-input
          text-center
          type="text"
          placeholder="Enter a title"
          [(ngModel)]="category"
          name="title"
          required
          #fileCategory="ngModel"
          maxlength="20"
          minlength="3">
        </ion-input>
        <div class="form-control-feedback" *ngIf="fileCategory.errors && (fileCategory.dirty || fileCategory.touched)">
          <p *ngIf="fileCategory.errors">Category needs to be 3 - 50 characters long</p>
        </div>
      </div>
    </div>

    <div class="form-group"> <!--[(ngModel)]="" to be defined based on description interface-->
      <ion-label stacked>Price</ion-label>
      <ion-input
        type="number"
        text-center
        placeholder="Enter a price"
        [(ngModel)]="price"
        name="price"
        required
        #itemPrice="ngModel">
      </ion-input>
      <div class="form-control-feedback" *ngIf="itemPrice.errors && (itemPrice.dirty || itemPrice.touched)">
        <p *ngIf="itemPrice.errors">Price is required</p>
      </div>
    </div>

    <div class="form-group"> <!--[(ngModel)]="" to be defined based on description interface-->
      <ion-label stacked>Location</ion-label>
      <ion-input
        text-center
        type="text"
        placeholder="Enter a location"
        [(ngModel)]="city"
        name="location"
        list="cities"
        required
        #itemLocation="ngModel"
        (ionBlur)="verifyLocation()">
        <datalist id="cities">
          <option *ngFor="let city of cities" [value]="city"></option>
        </datalist>
      </ion-input>
      <div class="form-control-feedback" *ngIf="itemLocation.errors && (itemLocation.dirty || itemLocation.touched)">
        <p *ngIf="itemLocation.errors">Location is required</p>
      </div>
    </div>


    <div class="form-group">
      <ion-label stacked>Description</ion-label>
      <ion-textarea type="text"
                    text-center
                    [(ngModel)]="description"
                    placeholder="10-100 characters"
                    name="description"
                    required
                    #fileDescription="ngModel"
                    minlength="10"
                    maxlength="100"></ion-textarea>
      <div class="form-control-feedback"
           *ngIf="fileDescription.errors && (fileDescription.dirty || fileDescription.touched)">
        <p *ngIf="fileDescription.errors" >Description length needs to be 10 - 100 characters</p>
      </div>
    </div>


    <div class="form-group"> <!--[(ngModel)]="" to be defined based on description interface-->
      <ion-label stacked >Contact Number</ion-label>
      <ion-input
        text-center
        type="text"
        placeholder="Enter a contact information"
        [(ngModel)]="contact"
        name="contactNumber"
        #contactNumber="ngModel">
      </ion-input>
    </div>

    </div>

    <ion-row justify-content-center>
      <button ion-button
              type="submit"
              round
              color="secondary"
              [disabled]="!uploadForm.form.valid || !hasFile">Upload
      </button>
    </ion-row>

    <ion-row justify-content-center>
      <button ion-button
              type="button"
              round
              color="danger"
              (click)="cancelUpload()">Cancel
      </button>
    </ion-row>

  </form>


  <ion-card *ngFor="let file of files" justify-content-center>
    <div *ngIf="file.file !== undefined && file.hasOwnProperty('filters') && file.filters !== undefined" justify-content-center>
      <img alt=""
           #preview
           justify-content-center
           [src]="file.filePath"
                                                                 [ngStyle]="{'filter':
         'brightness('+file.filters.brightness/100+') ' +
          'contrast('+file.filters.contrast/100+') ' +
           'saturate('+file.filters.saturation/100+') ' +
            'sepia('+file.filters.warmth/100+')'}">
    </div>

    <div *ngIf="file.file !== undefined && !(file.hasOwnProperty('filters') && file.filters !== undefined)" justify-content-center>
      <img justify-content-center alt=""
         #preview [src]="file.filePath">
    </div>
    <div *ngIf="file.file !== undefined && file.isImage">
      <ion-item>
        <ion-range min="0" max="200" step="1" [(ngModel)]="file.filters.brightness">
          <ion-icon small range-left name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="0" max="200" step="1" [(ngModel)]="file.filters.contrast">
          <ion-icon small range-left name="contrast"></ion-icon>
          <ion-icon range-right name="contrast"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="0" max="200" step="1" [(ngModel)]="file.filters.saturation">
          <ion-icon small range-left name="water"></ion-icon>
          <ion-icon range-right name="water"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="0" max="100" step="1" [(ngModel)]="file.filters.warmth">
          <ion-icon small range-left name="thermometer"></ion-icon>
          <ion-icon range-right name="thermometer"></ion-icon>
        </ion-range>
      </ion-item>

    </div>
  </ion-card>

</ion-content>
