<ion-header>
  <ion-navbar>
    <ion-title><img class="logoImg" src="../../assets/imgs/logo.png"> Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-row justify-content-center>
      <button ion-button round  (click)="goToHomePage()">HOME</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button round
              *ngIf="userSession.sessionPresent()" color="secondary" (click)="goToUploadPage()">UPLOAD</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button round  (click)="goToSearchPage()">SEARCH</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button round  color="secondary"
              *ngIf="userSession.sessionPresent()" (click)="goToMyItemsPage()">MY ITEMS</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button round  color="secondary"
              *ngIf="!userSession.sessionPresent()" (click)="goToLoginPage()">LOGIN/REGISTER</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button round
              *ngIf="userSession.sessionPresent()" (click)="goToProfilePage()">PROFILE</button>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button round  color="danger"
              *ngIf="userSession.sessionPresent()" (click)="logout()">LOG OUT</button>
    </ion-row>
  </ion-list>

</ion-content>
